**29th September** **2022**

1.
Write a function called showNumbers that takes a parameter called limit. It should print
all the numbers between 0 and limit with a label to identify the even and odd numbers.
For example, if the limit is 3, it should print:0 EVEN 1 ODD 2 EVEN 3 ODD

In [27]:
def showNumbers(limit):
  for i in range(limit+1):
    if i==0:
      print(i, '-', end='')
      print('even')

    elif i%2==0:
        print(i,'-',  end='')
        print('even')

    else:
          print(i, '-', end='')
          print('odd')

In [28]:
print(showNumbers(10))

0 -even
1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd
10 -even
None

2. Write a function that returns the sum of multiples of 3 and 5 between 0
and limit (parameter). For example, if limit is 20, it should return the sum of 3, 5, 6, 9, 10,
12, 15, 18, 20.

In [24]:
def sum_of_multiples(limit):
  for i in range(limit):
    if i%3==0:
      print(i)
      if i%5==0:
        print(i)

In [26]:
print(sum_of_multiples(30))

0
0
3
6
9
12
15
15
18
21
24
27
30
30
None

3. Write a function called show_stars(rows). If rows is 5, it should print the
following:***************

In [61]:
def show_stars(rows):
  for i in range(rows):
    for j in range(i+1):
      print('* ', end = ' ')
      #new line after each row
    print('\r')

In [62]:
print(show_stars(5))

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
None

4. Write a function that prints all the prime numbers between 0 and limit where limit is a
parameter.

In [118]:
def prime_numbers(limit):
  for i in range(2, limit):
    for j in range(2, i):
      if i%j== 0:
        break
      else:
        print(i)

In [119]:
print(prime_numbers(10))

3
5
5
5
7
7
7
7
7
9
None

5. Write a program (function!) that takes a list and returns a new list that contains all the
elements of the first list minus all the duplicates.

In [123]:
def removeDuplicates(l):
    return list(set(l))
mylist = [1, 2, 3, 4, 2, 3, 4, 2, 3, 4]
newList = removeDuplicates(mylist)
print(newList)

[1, 2, 3, 4]

6. Write a function to ask the user for a number and determine whether the number is
prime or not.

In [127]:
def number(r):
  for x in range(2, int(r/2)+1):
    if (r % x) == 0:
      print(r, " is not a prime number")
  else:
      print(r, " is a prime number")

In [128]:
number(10)

10  is not a prime number
10  is not a prime number
10  is a prime number

7. Write a program that asks the user how many Fibonnaci numbers to generate and then
generates them.

In [129]:
def fib (x, y):
    return x + y

number = int(input("How many Fibonacci numbers should I generate? "))

fibonacci = []
for n in range(number):
    if n in [0, 1]:
        fibonacci += [1]
    else:
        fibonacci += [fib(fibonacci[n-2], fibonacci[n-1])]

print("The first", number, "Fibonacci numbers are:", fibonacci)

How many Fibonacci numbers should I generate? 5
The first 5 Fibonacci numbers are: [1, 1, 2, 3, 5]

8. Write a function that ask the user for a string and print out whether this string is a
palindrome or not.

In [138]:
string=input(("Enter a string:"))
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

Enter a string:madam
The string is a palindrome

9. Write a function that takes an ordered list of numbers (a list where the elements are in
order from smallest to largest) and another number.

In [140]:
scores = [1, 5, 4,  7, 4, 6, 10, 9, 8]
scores.sort()

print(scores)

[1, 4, 4, 5, 6, 7, 8, 9, 10]

10. Create a program that asks the user to enter their name and their age. Print out a
message addressed to them that tells them the year that they will turn 100 years old.

In [141]:
name = str(input("Enter your name: "))
age = int(input("Enter your age: "))
future = 2022 + (100 - age)
print(name, "you will be 100 years in ", future)

Enter your name: Micheal
Enter your age: 35
Micheal you will be 100 years in  2087